<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">Jobify</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item mr-auto mt-2 mt-lg-0">
                <span class="nav-link">Copyright @ <b><a href="http://github.com/udyansharma" target="_blank"
                            display="inline-block">Udyan Sharma</a></b> 2020-Infinity</span>
            </li>
            <li class="nav-item ml-5 mt-2 mt-lg-0">
                <span class="nav-link">Icons made by <a href="https://www.flaticon.com/authors/freepik"
                        data-toggle="tooltip" data-placement="top" title="Freepik">Freepik</a>
                    from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></span>
            </li>
        </ul>
        <!-- BCA -->
        <!-- Bad Code but was unable to float this to the right as of now. Needs to be fixed. -->
        <ul class="navbar-nav" style="float:right">
            <li class="nav-item">
                <span class="nav-link" display="inline-block">Made with <img src="/images/footer/love.svg"
                        height="25px" width="30px" data-toggle="tooltip" data-placement="top" title="Love">
                    & hardwork in <img src="/images/footer/india.svg" height="25px" width="25px" data-toggle="tooltip"
                        data-placement="top" title="India"></span>
            </li>
        </ul>
    </div>
</nav>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    function loadLoggingScreen() {
        let application = window.location.pathname.split("/")[1];
        if (application == "auth") {
            window.location.href = window.location.hostname + ":" + window.location.port;
        }
        else {
            window.location.href = window.location.hostname + ":" + window.location.port + "/" + application;
        }
    }
</script>
